body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    margin-bottom: 20px;
}

.content {
    margin-top: 5px; /* Задайте відступ вище контенту для уникнення перекривання навігацією */
    padding: 20px;
}

.img1 {
    border-radius: 10px;
    width: 50%;
    height: 50%;
}


table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.flash-message {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    z-index: 1000;
}

:root {
    --color-shades-dark: rgb(25, 25, 25);
    --color-shades-light: rgb(165, 167, 175);
    --color-highlight: rgb(24, 54, 145);
  }

* {
    box-sizing: border-box;
}
  
  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
  }
  
  /* Remove default list styling and create layout for list */
  nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Basic link styling */
a {
      --text-color: var(--color-shades-dark);
  
    border-block-end: 3px solid var(--border-color, transparent);
    color: var(--text-color);
    padding: 0.1rem;
    text-decoration: none;
  }
  
  /* Change the border-color on :hover and :focus */
a:where(:hover, :focus) {
    --border-color: var(--text-color);
  }
  
  /* Change border-color and color for the active page */
[aria-current="page"] {
    --border-color: var(--color-highlight);
    --text-color: var(--color-highlight);
  }
