<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Служба матеріального обліку{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Головна</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('profile') }}">Профіль</a></li>
                <li><a href="{{ url_for('all_users') }}">Список користувачів</a></li>
                <li><a href="{{ url_for('material_accounting') }}">Матеріальний облік</a></li>
                <li><a href="{{ url_for('logout') }}">Вийти з акаунту</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Авторизуватись</a></li>
                <li><a href="{{ url_for('register') }}">Реєстрація</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        <h1>Служба матеріального обліку</h1>
        <p>Облік військового майна у Збройних Силах є складовою частиною бухгалтерського обліку та являє собою систему
            обробки та підготовки інформації, необхідної для прийняття управлінських рішень щодо забезпечення військових
            частин Збройних Сил матеріальними цінностями.</p>
        <p> Облік військового майна у випадках, передбачених законодавством України, ведеться з дотриманням вимог щодо
            забезпечення охорони державної таємниці, захисту іншої інформації з обмеженим доступом.</p>
        <img src="/static/photo1.jpg" alt="Image" class="img1">
    </div>

</body>
</html>
